@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
body {
  background-color: #d1d1d1;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

button {
  font-family: 'Montserrat', sans-serif;
}

#title {
  position: absolute;
  left: 10%;
  top: 5%;
  font-size: 2.5vmax;
}

#title:after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 2px solid black;
  -webkit-transition: width 1s;
  transition: width 1s;
}

#title:hover:after {
  width: 100%;
}

#App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
}

p, h3, button {
  font-weight: 100;
}

h3 {
  font-size: 1.5vmax;
}

h4 {
  font-size: 1.2vmax;
}

#all {
  width: 40vmax;
  height: 40vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: border 1s;
  transition: border 1s;
  border: 4px black solid;
  border-radius: 50%;
  position: relative;
}

#all #clock-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20%;
  width: 40%;
}

#all #clock-area #timer-label {
  margin: 0;
  font-size: 1.5vmax;
}

#all #clock-area #time-left {
  margin-top: 25%;
  font-size: 3vmax;
}

#all #control-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transform: translateX(-1.5%);
          transform: translateX(-1.5%);
}

#all svg {
  position: absolute;
  width: 50vmax;
  height: 50vmax;
  z-index: 1;
}

#all svg circle {
  stroke-dasharray: 10 20;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

#all #time-amts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
}

#all .divOrg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#all .btnClass {
  width: 3vmax;
  height: 3vmax;
  font-size: 1.5vmax;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: inherit;
  color: black;
  cursor: pointer;
}

#all #control-btns, #all #time-amts {
  z-index: 5;
}

.black {
  color: black;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.red {
  color: #a83242;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.green {
  color: #54a350;
  -webkit-transition: color .5s;
  transition: color .5s;
}

@media (max-height: 400px) {
  #all {
    border: 2px black solid;
  }
}

@media screen and (min-height: 600px) {
  #clock-area {
    width: 30%;
  }
}
/*# sourceMappingURL=styles.css.map */