@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

$mainColor: darken(#fff, 18%);
$secondaryColor: darken(white, 11%);


body{
  background-color: $mainColor;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

#title{
    position: absolute;
    left: 10%;
    top: 5%;

    &:after{
      content: "";
      display: block;
      width: 0%;
      border-bottom: 2px solid black;
      transition: width 1s;
    }

    &:hover{
      &:after{
        width: 100%;
      }
    }
}

#App{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#all{
    width: 40vmax;
    height: 40vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px black solid;
    border-radius: 50%;

    svg{
      position: absolute;
      width: 50vmax;
      height: 50vmax;
      z-index: 1;
  
      circle{
          stroke-dasharray: 10 20;
          transition: stroke-dashoffset 1.1s stroke 1s;
          transition-timing-function: linear;
          transform: rotate(-90deg);
          transform-origin: 50% 50%;
      }  
  }

  #time-amts{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
  }

  .divOrg{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btnClass{
    width: 3vmax;
    height: 1.5vmax;
    outline: none;
    border: none;
    background-color: #bbb;
    color: #333;
    cursor: pointer;
  }

  #control-btns, #time-amts{
    z-index: 5;
  }

}



.red{
  color: red;
  &:hover{
    background-color: black;
    box-shadow: 1px 0px 5px black;
  }
}

@media screen and (min-height: 600px){
  #clock-area{
    width: 30%;
  }
}